[Unit]
Description=Node.js PingServer

[Service]
ExecStart=/usr/local/bin/node /root/node-ping
# Required on some systems
#WorkingDirectory=/root/node-ping
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-ping-server

[Install]
WantedBy=multi-user.target