html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

*{
  box-sizing: inherit;
}

nav{
  background-color: #ccc;
  padding: 1rem;
}

nav > p {
  margin: 0;
  font-size: 2rem;
}

nav > p > a {
  text-decoration: none;
  text-transform: uppercase;
}
